html,
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
 text-align: center;
 white-space: nowrap;
}



p {
  padding-left: 15px;
}

div p:last-child {
  padding-bottom: 20px;
}



.container {
 width: 800px;
 margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;

}

.column {
    flex-basis: 30%;
}

.column:first-child {
    padding-left: 5px;
}

.column:first-child,
.column:last-child {
    flex-basis: 20%;
}

.header {
    background-color: #ddd;
    padding: 5px 0;
    border-bottom: 1px solid black;
    margin-top: 20px;

}

.no-wrap {
    white-space: nowrap;
}

.bookInfo {
     border: 2px solid black;
}


li.row {
}

.row {
  padding: 5px 0;
}

.even {
 background: #eee;
}